# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 3
num2 = 5.4
result = num1 + num2
print(result)

8.4

##### Subtraction

In [7]:
num1= 2.2
num2= 3.4
result= num1-num2
print(result)

-1.1999999999999997

##### Multiplication

In [9]:
result_multiply = num1 * num2
print(result_multiply)

7.48

##### Division

In [12]:
result_divide = num1/num2
print(result_divide)

0.6470588235294118

##### Floor Division

In [13]:
result_floor = num2//num1
print(result_floor)

1.0

##### Modulo

In [15]:
result_modulo = num2 % num1
print(result_modulo)

1.1999999999999997

##### Exponential

In [17]:
result_exp = num2 ** 2
print(result_exp)

11.559999999999999

### String Input-Output

##### String Assignment

In [18]:
x = "apples"

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
print(x)

apples

##### String Concatenation

In [24]:
x = "app"
y = "les"

fruit = x + y

print(fruit)

apples

##### Type Conversion

In [1]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num + 5)

32
37

##### input()

In [2]:
best = input("Finish this statement. Dogs are the ______.")
print(best)

Finish this statement. Dogs are the ______.Best
Best

##### format()

In [6]:
age = input("How old are you? ")
name = input("What is your name? ")

result_form = "You are {} {} and you're old as dirt!".format(age, name)
print(result_form)

result_2 = f"{age} is too old for a {name}"
print(result_2)

How old are you? 800 years old
What is your name? Breakdancing Panda
You are 800 years old Breakdancing Panda and you're old as dirt!
800 years old is too old for a Breakdancing Panda

##### Old Way (python 2)

In [9]:
result_string2 = "You are %s and you look great for your age" %age
print (result_string2)

You are 800 years old and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [11]:
color = input("What Color is your brand new fighter Jet? ")
year = input("What year was y our jet manufactured? ")
make = input("What is the Make of your jet? ")
model = input("What is the model of your jet? ")

pulled_over = "Do you have your license and registration for this {} {} {} {}?".format(color, year, make, model)
print(pulled_over)

What Color is your brand new fighter Jet? Grey
What year was y our jet manufactured? 2022
What is the Make of your jet? Lockheed Martin
What is the model of your jet? F-35
Do you have your license and registration for this Grey 2022 Lockheed Martin F-35?

### If Statements

In [13]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 12
num2= 23

if num2 > num1:
    print("Num2 is the winner!")
elif num1 > num2:
    print("Num1 is victorious!")
else:
    print("They're equally matched!")

Num2 is the winner!

##### 'is' keyword

In [15]:
x = ["dog", "cat"]
y = ["dog", "cat"]
z = x

print(x is z) # Z and X are the same objects

print(x is y) # z and y are not the same objects but they are the same "value"

print(x == y) #x and y are the same value but not the same object.

True
False
True

##### 'in' keyword

In [16]:
char_name = "Dungeon Crawler Carl"

if "Carl" in char_name:
    print("Hello Crawler!")

Hello Crawler!

##### 'not in' keyword'

In [17]:
if "donut" not in char_name:
    print("This quest is only for Carl!")

This quest is only for Carl!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [20]:
the_input = input("A quick brown fox ______ over the lazy dog. ")

if "p" in the_input:
    print("The letter p is there!")
elif "P" in the_input:
    print("The letter P is there!!")
else:
    print("Where's the P?!")

A quick brown fox ______ over the lazy dog. Prances
The letter P is there!!

## Using 'and'/'or' with If Statements

In [21]:
num_12 = 15
num_13 = 3
num_14 = 59
num_15 = 1

if num_12 / 5 == num_13 and num_15 * 59 == num_14:
    print('T/T')
    
if num_12 > num_13 or num_14 == num_15:
    print("One of these statements is true!")

T/T
One of these statements is true!

### Elif Statements

In [23]:
if num_12 < num_13:
    print("Num 13 wins!")
elif num_12 == num_13:
    print("No Num wins!")
else:
    print("Num 12 wins!")

Num 12 wins!

### Else Statements

In [ ]:
if num_12 < num_13:
    print("Num 13 wins!")
elif num_12 == num_13:
    print("No Num wins!")
else:
    print("Num 12 wins!")

### For Loops

In [24]:
name = "Levi Lutz"

for letter in name:
    print(letter)

L
e
v
i

L
u
t
z

##### Using 'in' keyword

In [ ]:
name = "Levi Lutz"

for letter in name:
    print(letter)

##### Continue Statement

In [ ]:
# will continue to next iteration

In [25]:
for i in range(15):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14

##### Break Statement

In [ ]:
# will break out of current loop

In [26]:
for i in range(15):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [27]:
for i in range(15):
    pass

##### Double For Loops

In [28]:
for i in range(5):
    for j in range(5):
        print("i= ", i, "j= ", j)

i=  0 j=  0
i=  0 j=  1
i=  0 j=  2
i=  0 j=  3
i=  0 j=  4
i=  1 j=  0
i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  1 j=  4
i=  2 j=  0
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3
i=  2 j=  4
i=  3 j=  0
i=  3 j=  1
i=  3 j=  2
i=  3 j=  3
i=  3 j=  4
i=  4 j=  0
i=  4 j=  1
i=  4 j=  2
i=  4 j=  3
i=  4 j=  4

### While Loops

In [30]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [33]:
game_over = False

while True:
    print('ruh roh')
    break

ruh roh

##### While & For Loops Used Together

In [34]:
num = 45

while num < 70:
    print('\n While loop iteration: ' +str(num))
    num += 1
    
    for i in range(2):
        print("for loop iteration: " +str(i))

 While loop iteration: 45
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 46
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 47
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 48
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 49
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 50
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 51
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 52
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 53
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 54
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 55
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 56
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 57
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 58
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 59
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 60
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 61
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 62
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 63
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 64
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 65
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 66
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 67
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 68
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 69
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [2]:
# range(start, stop, step)

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [3]:
name = "Gregland Maxiby"

length = len(name)
print(length)

15

##### help()

In [4]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [6]:
# Check a variale to find out what object family or data type it belogns to
#isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("you win a zillion dollars")

False
you win a zillion dollars

##### abs()

In [7]:
print(abs(-5))

5

### Try and Except

In [12]:
try:
    input_num = int(input('Guess a number! '))
    print("your number is: " + str(input_num))
except:
    print("That Didn't work. Change your input to a number!")

Guess a number! hi
That Didn't work. Change your input to a number!

### Lists

##### Declaring Lists

In [33]:
list_1 = []

names = ["max", 'cindy', 'joe', 'jimmy', 'bozo']
print(names)

['max', 'cindy', 'joe', 'jimmy', 'bozo']

##### Indexing a List

In [20]:
print(names[0])

#Print starting somewhere and printing to the end
print(names[1:])

#Start at beginning of list up to a number
print(names[:2])

#start at index one and go up by 2
print(names[1::2])

#Start from end and present in reverse order
print(names[::-1])

max
['cindy', 'joe', 'jimmy', 'bozo']
['max', 'cindy']
['cindy', 'jimmy']
['bozo', 'jimmy', 'joe', 'cindy', 'max']

##### .append()

In [21]:
names.append('Thanos')
print(names)

['max', 'cindy', 'joe', 'jimmy', 'bozo', 'Thanos']

##### .insert()

In [22]:
names.insert(3, 'Iron Man')
print(names)

['max', 'cindy', 'joe', 'Iron Man', 'jimmy', 'bozo', 'Thanos']

##### .pop()

In [24]:
#defaults to last vaule if no parameter is given
#pop returns element that was removed in case you want to assign it to a var

my_name = names.pop(2)
print(my_name)
print(names)

Iron Man
['max', 'cindy', 'jimmy', 'bozo', 'Thanos']


##### .remove()

In [30]:
#names.remove('max')
#print(names)

#remove multiples of the same name from list
while "Thanos" in names:
    names.remove("Thanos")
print(names)

['jimmy', 'bozo']

##### del()

In [34]:
#goes by index
#be careful, can cause indexing errors

del(names[1])
print(names)

['max', 'joe', 'jimmy', 'bozo']

##### Concatenating Two Lists

In [38]:
#lists can hold any data type including other lists

pets = ["dog", 'cat', 'bird', 'dragon', 'kraken']
print(pets)

crazy_list = pets + names
print(crazy_list)

['dog', 'cat', 'bird', 'dragon', 'kraken']
['dog', 'cat', 'bird', 'dragon', 'kraken', 'Joe', 'Jim', 'john', 'Frank', ['Monkey D Luffy', 'Zippy', ['Greg', 'Sally']]]

##### Lists Within Lists

In [36]:
names = ["Joe", "Jim", "john", "Frank",["Monkey D Luffy", "Zippy", ["Greg", "Sally"]]]
print(names)
print(names[4][0])

['Joe', 'Jim', 'john', 'Frank', ['Monkey D Luffy', 'Zippy', ['Greg', 'Sally']]]
Monkey D Luffy

##### Looping Through Lists

In [40]:
#Two ways to loop through list. 1 is by index, other is by using 'in' keyword

#by index
for i in range(len(names)):
    print(names[i])
    
#loop with 'in'
for i in names:
    print(i)

Joe
Jim
john
Frank
['Monkey D Luffy', 'Zippy', ['Greg', 'Sally']]
Joe
Jim
john
Frank
['Monkey D Luffy', 'Zippy', ['Greg', 'Sally']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [44]:
# I can think of a few methods to do this
#Method 1 

num = 0

while num**3 <= 1000:
    print(num**3)
    num+=1

#Method 2 
for i in range(1, 11):
    cube = i ** 3
    if cube <= 1000:
        print(cube)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [47]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

#This was tough. This checks if the number is <= 1 or if the number is even and returns false, since 1 and even numbers are not
#prime. It then runs a loop on beginning at 3 (the first possible prime) and ending at the square root+1 of the number
#since non-primes will have at least one divisor <= their square root. This steps up by two each iteration to check only odd numbers
#beginning at 3.

def prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num ** 0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

for num in range(2, 101):
    if prime(num):
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [52]:
age = input("Please enter your age! ")
age_int = int(age)

if age_int <18:
    print("kids")
elif age_int >= 18 and age_int <= 65:
    print("adults")
else:
    print('seniors')

Please enter your age! 90
seniors